<h3>{{ 'title.reset_password'|trans }}</h3>

<p>{{ 'message.reset_password_email'|trans }}</p>
<a href="{{ url('confirm_reset_password', {'token': token}) }}">{{ url('confirm_reset_password', {'token': token}) }}</a>