<div class="ui segment">
    <h4 class="ui large centered dividing header">Inscription gratuite</h4>
    <ul class="list">
        <li>Accès à section gratuite des pronostics</li>
        <li>Notification par Email des nouveaux pronostics gratuits</li>
    </ul>
    <div class="ui center aligned basic segment">
        <div class="ui horizontal statistic">
            <div class="value">
                Gratuit
            </div>

        </div>
    </div>
    <div class="ui center aligned basic segment">
        <a class="ui huge button"
           href="{{ path('subscription_subscribe_for_free', {id: tipster.id}) }}">S'inscrire</a>
    </div>
</div>