{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .column {
            max-width: 450px;
        }

        .negative ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="ui centered grid">
        <div class="column">
            <h2 class="ui header blue">
                {{ 'title.reset_password'|trans }}
            </h2>
            <div class="ui negative message">
                <span>{{ error|trans }}</span>
            </div>
        </div>
    </div>

{% endblock %}