{% extends 'base.html.twig' %}


{% block body %}

    <div class="ui container">

        <h1 class="ui blue">
            {{ 'title.newsletter_confirm'|trans }}
        </h1>

        <div class="ui text container">
            <div class="ui success message">
                {{ 'text.newsletter_confirm_success'|trans }}
            </div>
        </div>

    </div>

{% endblock %}