{% extends "::base.html.twig" %}

{% block body %}

    <div class="ui text container">

        <h1>{{ 'title.newsletter_unsubscribe'|trans }}</h1>

        <div class="ui success message">
            {{ 'text.newsletter_unscubscribe'|trans }}
        </div>
    </div>

{% endblock %}